$button-color: #5d67e7;
$button-color2: #4b50c9;
$button-color3: #383aac;
$button-color4: #23258f;
$button-color5: #081074;

$submit-color: #7a71e0;
$submit-color2: #6559d2;
$submit-color3: #4f42c3;
$submit-color4: #3829b4;
$submit-color5: #190ba4;

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: url("../mountain.jpg") no-repeat top / cover;
    font-family: 'Roboto', sans-serif;
    
}

.showMessage
{
    width: 180px;
    z-index: 10;
    border-radius: 10px;
    padding: 15px;
    color: white;
    position: absolute;
    left: 80%;
    top: 25%;
    transform: translate(-50%,-50%);
    text-align: center;
    letter-spacing: 2px;
    line-height: 35px;
    border: 2px solid white;
}


.teamDiv
{
    min-width: 100px;
    min-height: 19px;
    background-color: rgba($color: #12097a, $alpha: .7);
    border: 1px solid white;
    color: white;
    border-radius: 7px;
    text-align: center;
    padding: 10px 15px;
    margin: 0 20px;
}

.addTeams
{
    width: 100%;
    height: 100vh;

    .addTeams__form
    {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .addTeams__input
        {
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            .addTeams__label
            {
                font-size: 40px;
                font-family: 'Bungee Inline', cursive;
                color: white;
            }

            .addTeams__teamName
            {
                outline: none;
                width: 180px;
                height: 40px;
                text-align: center;
                border: 2px solid black;
                font-size: 22px;
                border-radius: 7px;
                transition: all .2s ease-in-out;
                transition-property: border-color, box-shadow;
                font-weight: 600;

                &:focus
                {
                    border-color: #1c2272;
                    -webkit-box-shadow: 0px 0px 9px 7px rgba(37,45,146,1);
                    -moz-box-shadow: 0px 0px 9px 7px rgba(37,45,146,1);
                    box-shadow: 0px 0px 9px 7px rgba(37,45,146,1);
                }

            }

            .addTeams__button
            {
                outline: none;
                width: 110px;
                height: 30px;
                font-weight: 700;
                border: 1px solid white;
                background-image: linear-gradient(to right bottom, $button-color, $button-color2, $button-color3, $button-color4, $button-color5);
                color: white;
                font-size: 17px;
                border-radius: 7px;
                cursor: pointer;
                padding-top: 3px;
                z-index: 1;
                position: relative;

                &::before
                {
                    content: '';
                    position: absolute;
                    border-radius: 7px;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    opacity: 0;
                    background-image: linear-gradient(to right bottom, $button-color * 0.6, $button-color2* 0.6, $button-color3* 0.6, $button-color4* 0.6, $button-color5* 0.6);
                    transition: all .2s linear;
                }

                &:hover::before
                {
                    opacity: 1;
                }

            }

        }

        .addTeams__spaceForTeams
        {
            height: 40%;
            width: 80%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            .addTeams__addedTeam
            {
                @extend .teamDiv;
                transition: all .2s ease-in;
                transition-property: border-color, background-color;
                position: relative;
                cursor: pointer;

                &::before
                {
                    content: '';
                    position: absolute;
                    left: 25%;
                    width: 70px;
                    border: 3px solid #8f1212;
                    background-color: #8f1212;
                    border-radius: 10px;
                    opacity: 0;
                    transform: rotate(45deg) translateY(10px);
                    transition: opacity .2s ease-in;
                }

                &::after
                {
                    content: '';
                    position: absolute;
                    right: 25%;
                    width: 70px;
                    border: 3px solid #8f1212;
                    background-color: #8f1212;
                    border-radius: 10px;
                    opacity: 0;
                    transform: rotate(-45deg) translateY(10px);
                    transition: opacity .2s ease-in;
                }

                &:hover::before
                {
                    opacity: 1;
                }

                &:hover::after
                {
                    opacity: 1;
                }

            }

        }

        .addTeams__submit
        {
            cursor: pointer;
            font-size: 20px;
            font-weight: 700;
            outline: none;
            width: 150px;
            height: 50px;
            padding-top: 4px;
            background-color: #750808;
            color: white;
            border-radius: 7px;
            border: 2px solid white;
            transition: all .2s linear;

            &:hover
            {
                background-color: #530606;
            }

        }

    }
    
}

.displayTeams
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;

    .displayTeams__ladder
    {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .displayTeams__teamName
        {
            @extend .teamDiv;
        }

    }

}