body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background: url("../mountain.jpg") no-repeat top/cover;
  font-family: 'Roboto', sans-serif; }

.showMessage {
  width: 180px;
  z-index: 10;
  border-radius: 10px;
  background-image: radial-gradient(circle, #902e2e, #9e2727, #ab1f1e, #b71312, #c20000);
  padding: 15px;
  color: white;
  position: absolute;
  left: 80%;
  top: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 3px;
  line-height: 35px;
  border: 2px solid white; }

.addTeams {
  width: 100%;
  height: 100vh; }
  .addTeams .addTeams__form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .addTeams .addTeams__form .addTeams__input {
      height: 40%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column; }
      .addTeams .addTeams__form .addTeams__input .addTeams__label {
        font-size: 40px;
        font-family: 'Bungee Inline', cursive;
        color: white; }
      .addTeams .addTeams__form .addTeams__input .addTeams__teamName {
        outline: none;
        width: 180px;
        height: 40px;
        text-align: center;
        border: 2px solid black;
        font-size: 22px;
        border-radius: 7px;
        transition: all .2s ease-in-out;
        transition-property: border-color, box-shadow;
        font-weight: 600; }
        .addTeams .addTeams__form .addTeams__input .addTeams__teamName:focus {
          border-color: #1c2272;
          -webkit-box-shadow: 0px 0px 9px 7px #252d92;
          -moz-box-shadow: 0px 0px 9px 7px #252d92;
          box-shadow: 0px 0px 9px 7px #252d92; }
      .addTeams .addTeams__form .addTeams__input .addTeams__button {
        outline: none;
        width: 110px;
        height: 30px;
        font-weight: 700;
        border: 1px solid white;
        background-image: linear-gradient(to right bottom, #5d67e7, #4b50c9, #383aac, #23258f, #081074);
        color: white;
        font-size: 17px;
        border-radius: 7px;
        cursor: pointer;
        padding-top: 3px;
        z-index: 1;
        position: relative; }
        .addTeams .addTeams__form .addTeams__input .addTeams__button::before {
          content: '';
          position: absolute;
          border-radius: 7px;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          opacity: 0;
          background-image: linear-gradient(to right bottom, #383e8b, #2d3079, #222367, #151656, #050a46);
          transition: all .2s linear; }
        .addTeams .addTeams__form .addTeams__input .addTeams__button:hover::before {
          opacity: 1; }
    .addTeams .addTeams__form .addTeams__spaceForTeams {
      height: 40%;
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; }
      .addTeams .addTeams__form .addTeams__spaceForTeams .addTeams__addedTeam {
        min-width: 100px;
        background-color: #09043b;
        border: 1px solid white;
        color: white;
        border-radius: 7px;
        text-align: center;
        padding: 10px 15px;
        margin: 0 20px; }
    .addTeams .addTeams__form .addTeams__submit {
      cursor: pointer;
      font-size: 20px;
      font-weight: 700;
      outline: none;
      width: 150px;
      height: 50px;
      padding-top: 4px;
      background-color: #750808;
      color: white;
      border-radius: 7px;
      border: 2px solid white;
      transition: all .2s linear; }
      .addTeams .addTeams__form .addTeams__submit:hover {
        background-color: #530606; }

/*# sourceMappingURL=style.css.map */
